<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchng</title>
     <!-- tailwind CDN -->
     <script src="https://cdn.tailwindcss.com"></script>
     <!---CSS Link-->
     <link rel="stylesheet" href="/assets/css/home.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <!--font link-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300&family=Roboto:wght@700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300;600&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<style>
    .boxshadow{
        box-shadow: -15px 15px 0px 0px #80DED9;
    }
    
</style>
<body>
  <%-include('partials/header')%>
      <!--section 1-->
      <section class=" h-auto">
        <div class="lg:flex mx-12">
        <div class="w-[65%]">
           <div class="text-8xl font-extrabold pt-24"> <p class="sec8">Exchange Land</p>
           </div>
           <p class="text-5xl text-black mt-12 textInter">What is Exchange Land ?</p>
           <p class="text-2xl text-[#8A8A8A] mt-4 pr-36">
            Land optimizer has extensive experience in property exchanges for individuals as well as B2B property exchange . The reasons for seeking a replacement property can include and go beyond: 
           </p>   
       </div>  
         <div class="w-[35%]">
            <img src="../public/../public/images/exchange_sec1.svg" alt="main image" class="h-full float-right">
         </div>

        </div>
    </section>

    <!--Section 2-->
    <section>
      <div class="flex justify-center mt-8">
        <img src="../public/images/exchange_sec2.svg" alt="" class="w-[92%] mx-12">  
      </div>
       <p class="text-2xl text-[#8A8A8A] mt-8 mx-12">
        Land optimizer has extensive experience in property exchanges for individuals as well as B2B property exchange . The reasons for seeking a replacement property can include and go beyond: 
       </p> 
    </section>   

    <!--Section 3-->
    <section class="mx-12">
        <p class="text-5xl text-black mt-12 textInter">What can be Exchanged ?</p> 
        <p class="text-2xl text-[#8A8A8A] mt-8">
            Here’s the list of different types of property that can be exchanged 
        </p> 
        <p class="text-2xl text-[#8A8A8A] mt-8">
            • Agricultural land &emsp; • Converted land &emsp;  • Approved land &emsp; • Undeveloped plot &emsp; • Developed plot &emsp; • Villa &emsp; • Apartment
        </p>   
        <img src="../public/images/exchange_sec3.svg" alt="" class="w-full mt-8">  
    </section>

    <!--Section 4-->
    <section class="mx-12 mt-12 textInter">
      <div class="flex">  
        <div class="w-[70%] h-auto">
            <div class="w-[70%] h-16 bg-[#80DED9] text-white text-center text-4xl py-4">OUR EXCHANGE MODELS</div>
            <p class="text-xl text-[#707070] mt-4 mr-4">Land Optimizer offers multiple exchange models that add to your convenience. You have the option to choose a model that works best for you</p>
            
            <div class="w-[50%] h-12 bg-[#5BBDD7] text-white text-center text-2xl mt-12 pt-2">Simultaneous Exchange</div>
            <div class="mr-8 border-2 border-t-0 border-[#808080]"></div>
            <p class="text-lg text-[#707070] mt-4 mr-4">In a simultaneous exchange, both, the relinquished property and the replacement
                property are exchanged at the same time.</p>

          <div class="w-[50%] h-12 bg-[#5BBDD7] text-white text-center text-2xl mt-12 pt-2">Forward Exchange</div>
                <div class="mr-8 border-2 border-t-0 border-[#808080]"></div>
                <p class="text-lg text-[#707070] mt-4 mr-4">In a forward exchange the existing property is relinquished first and the
                    replacement property acquired after a period of time.</p>    
                 
           <div class="w-[50%] h-12 bg-[#5BBDD7] text-white text-center text-2xl mt-12 pt-2">Reverse Exchange</div>
                    <div class="mr-8 border-2 border-t-0 border-[#808080]"></div>
                    <p class="text-lg text-[#707070] mt-4 mr-4">In a reverse exchange, the replacement property is acquired first and the
                        existing property relinquished at a later date.</p>      
           <div class="w-[50%] h-12 bg-[#5BBDD7] text-white text-center text-2xl mt-12 pt-2">Multi-asset Exchange</div>
                        <div class="mr-8 border-2 border-t-0 border-[#808080]"></div>
                        <p class="text-lg text-[#707070] mt-4 mr-4">In a multi-asset exchange, a single asset could be replaced by two or more other asset. The reverse, where two or more assets are replaced by a single asset, too, falls in this category.</p>                
        </div>

        <div class="w-[30%] h-auto border-2 border-y-0 border-[#808080] border-r-0">
            <p class="text-3xl text-black font-bold textInter mx-8">ABOUT LAND OPTIMIZER</p>  
            <p class="text-xl text-[#707070] mt-4 mx-8">
                At Land Optimizer
International, we revolutionize
the real estate industry by
utilizing technology and ideas.
We are here to bring the real
estate of the future through
strategies built on medium and
long-term perspective that
mitigate risks, build resilience,
identify opportunities and
structural shifts to deal with
future adversities that the real
estate industry may face.
Specializing in turning idle
assets into income-generating
ones, we optimize your
property through concepts
that work as an alternate
investment that generates a
second income. We offer land
pooling, property sharing, and
land acquisition. Expanding
our services, we cater to land,
theme and concept
development with high
productivity and awareness
of quality.
               </p>   
        </div>

      </div>

      <div class="w-full h-12 text-3xl text-center text-[#707070] border-[#808080] border-2 mt-12">THE LAND OPTIMIZER ADVANTAGE</div>

      <img src="../public/images/exchange_sec4.svg" alt="adavantage" class="mt-8">
    </section>

    <!--Section 5 Benefits-->
    <%-include('partials/benefits')%>
     
    <!--Section 6   Key Registration-->
   
    <%-include('partials/keyregistration')%>
     
     <!--Section 6 annual-->
   
     <%-include('partials/annualcompliance')%>
     
    <!--Section 5 how it works-->
    <%-include('partials/howitworks')%>
        <!--Section 8-->
        <%-include('partials/documentupload')%>
  

     <!---Section 9 PAY AS YOU GROW-->
     <!--Section 7 payy-->
    <%-include('partials/paygrow')%>
  

      <!--Section 10-->
      <!--Section 10 FAQ-->
      <%-include('partials/FAQ')%>
  

   <!---footer-->
   <%-include('partials/footer')%>
  

</body>

</html>