<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPA2</title>
     <!-- tailwind CDN -->
     <script src="https://cdn.tailwindcss.com"></script>
     <!---CSS Link-->
     <link rel="stylesheet" href="/assets/css/home.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <!--font link-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300&family=Roboto:wght@700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300;600&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<style>
    .boxshadow{
        box-shadow: -15px 15px 0px 0px #80DED9;
    }
   
      
</style>
<body>
  <%-include('partials/header')%>
      <!--section 1-->
      <section class=" h-auto">
        <div class="lg:flex mx-12">
        <div class="w-[65%]">
           <div class="text-8xl font-extrabold pt-24"> <p class="sec8">NPA2PA</p>
           </div>
           <p class="text-[45px] text-black mt-12 font-extrabold textPoppins">Transform Non-Performing Assets to Performing Assets</p>
           <p class="text-3xl text-black mt-12 font-extrabold textPoppins">Unearth true property potential through knowledge, ideas and active intervention.</p>
           <p class="text-xl text-[#444444] mt-4 pr-36">
            While banks & financial institutions have their own definition , an NPA is really an asset that does not generate expected returns. The returns expected could take the form of revenue, profit or appreciation. When it comes to land as an asset class, very often , non-performance or under performance happens due to the fact that the true potential of land is hidden or unseen.
           </p> 
       </div>  
         <div class="w-[35%]">
            <img src="../public/images/exchange_sec1.svg" alt="main image" class="h-full float-right">
         </div>
          
        </div>
        <div class="mx-12">
          <p class="text-3xl text-black mt-12 font-extrabold textPoppins">Harnessing the Potential of Property</p>
          <p class="text-xl text-[#444444] mt-4">
         Creativity, expertise and experience are the key to maximizing returns from the property. Creativity adda a new dimension. Expertise enables an idea to turn into a viable project. And , experience ensures that pitfalls on the way forward are avoided. We at Land Optimizer takes care of the complete process of real estate value enhancement from ideation to execution, including attracting investment.
        </p>
        </div>
        <div class="flex justify-center items-center mt-12 rounded-lg mx-auto">
           <p class="px-4 w-[40rem] py-2 text-white text-4xl bg-[#80DED9] text-center">OUR PROCESS </p> 
        </div>
    </section>

    <!--Section 2-->
    <section>
       
            <p class="text-5xl font-extrabold text-center mt-12 textPoppins ">How we approach performance</p> 
            <p class="text-2xl text-[#444444] text-center mt-4 textPoppins ">Our Exclusive Modus Operandi</p> 
            <img src="../public/images/NPA2_sec2.svg" alt="sec2" class="mx-auto mt-8">
            <div class="flex justify-center items-center mt-12 rounded-lg mx-auto">
                <p class="px-4 w-[40rem] py-2 text-white text-4xl bg-[#80DED9] text-center">BENEFITS OF NPA2PA</p> 
             </div>
             <img src="../public/images/NPA_SEC.svg" alt="" class="mt-12">
    </section>   
  
    <!--Section 3-->
    <div class="flex justify-center items-center mt-12 rounded-lg mx-auto">
        <p class="px-4 w-[40rem] py-2 text-white text-4xl bg-[#80DED9] text-center">THE VALUE ADDITION</p> 
     </div>
    <!--Section 4-->
    <section class="mx-12">
        <img src="../public/images/NPA2_sec4.svg" alt="" class="w-full mt-8">
        <div class="flex justify-center items-center mt-12 rounded-lg mx-auto">
            <p class="px-4 w-[40rem] py-2 text-white text-4xl bg-[#80DED9] text-center">OUR NPA2PA SERVICE FEATURES</p> 
         </div>  
    </section>

    <!--Section 5-->
    <section class="pb-16 mt-16 h-auto bg-[#EAF0F9] textInter">
      <div class="flex">
       <div class="mx-12 h-auto w-1/2 mt-8 flex">
          <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">1</div>
            <div class="mx-4 p-4 text-sm bg-white">Property evaluation: Conduct a thorough evaluation of the property to identify the reasons for non-performance. This may include a review of the property’s financial statements, occupancy rates, rent roll, tenant mix, and physical condition.
            </div>
          </div>
          <div class="mx-12 h-auto w-1/2 mt-8 flex">
            <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">2</div>
              <div class="mx-4 p-4 text-sm bg-white">Financial analysis: Analyze the property’s financial performance to identify opportunities to reduce expenses, increase revenue, and improve cash flow. This may include renegotiating leases, reducing operating costs, and increasing rents.
              </div>
            </div> 
      </div>
        <!--PART 2-->
        <div class="flex">
          <div class="mx-12 h-auto w-1/2 mt-8 flex">
             <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">3</div>
               <div class="mx-4 p-4 text-sm bg-white">Repositioning strategy: Develop a repositioning strategy to improve the property’s marketability and attract new tenants. This may include renovating the property, upgrading amenities, or changing the property’s use to better suit the market demand. 
               </div>
             </div>
             <div class="mx-12 h-auto w-1/2 mt-8 flex">
               <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">4</div>
                 <div class="mx-4 p-4 text-sm bg-white">Marketing strategy: Develop a marketing strategy to promote the property to potential tenants or buyers. This may include targeted advertising, social media marketing, and outreach to local real estate brokers and industry professionals.
                 </div>
               </div> 
         </div>

         <!--PART 3-->
        <div class="flex">
          <div class="mx-12 h-auto w-1/2 mt-8 flex">
             <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">5</div>
               <div class="mx-4 p-4 text-sm bg-white">Property management: Implement a professional property management plan to ensure that the property is properly maintained, repairs are made in a timely manner, and tenants are satisfied.
               </div>
             </div>
             <div class="mx-12 h-auto w-1/2 mt-8 flex">
               <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">6</div>
                 <div class="mx-4 p-4 text-sm bg-white">Capital investment: Allocate capital to make necessary improvements and upgrade to the property. This may include investing in energy-efficient technology, security systems, and other amenities that improve the property’s value.
                 </div>
               </div> 
         </div>

         <!--PART 4-->
        <div class="flex">
          <div class="mx-12 h-auto w-1/2 mt-8 flex">
             <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">7</div>
               <div class="mx-4 p-4 text-sm bg-white">Tenant relations: Foster positive relationships with existing tenants to improve tenant retention rates and reduce vacancy rates. This may include offering tenant incentives, responding to tenant requests in a timely manner, and engaging in open communication with tenants.
               </div>
             </div>
             <div class="mx-12 h-auto w-1/2 mt-8 flex">
               <div class=" h-auto w-48 text-white text-center px-8 py-6 text-8xl font-bold bg-[#80DED9]">8</div>
                 <div class="mx-4 p-4 text-sm bg-white">Risk management: Develop risk management plan to mitigate potential risks associated with property ownership, such as legal disputes, environmental issues, or natural disasters.
                 </div>
               </div> 
         </div>
    </section>
    
    <!--SECTion 6-->
    <section class="mx-12 textInter text-[#444444] mt-12">
      At Land Optimizer International, we revolutionize the real estate industry by utilizing     technology and ideas. We are here to bring the real estate of the future through strategies built on medium and     long-term perspective that mitigate risks, build resilience, identify opportunities and structural shifts to deal with future adversities that the real estate industry may face. Specializing in turning idle assets into income-generating ones, we optimize your property through concepts that work as an alternate investment that generates a second income. We offer land pooling, profit sharing, and land acquisition. Expanding our services, we cater to land, theme and concept development with high productivity and awareness of quality.
    </section>

    <!--Section 7-->
    <section class="mt-12">
        <img src="../public/images/NPA2_sec7.svg" alt="industry" >
    </section>
   
   
   <!--Section 5 Benefits-->
   <%-include('partials/benefits')%>
     
   <!--Section 6   Key Registration-->
  
   <%-include('partials/keyregistration')%>
    
     <!--Section 6 annual-->
   
     <%-include('partials/annualcompliance')%>
     
    
     <!---Section 7 HOW IT WORKS-->

   <%-include('partials/howitworks')%>
        <!--Section 8 document-->
        <%-include('partials/documentupload')%>
  
     <!---Section 9 PAY AS YOU GROW-->
 
    <!--Section 7 payy-->
    <%-include('partials/paygrow')%>
  
      <!--Section 10 FAQ-->
      <%-include('partials/FAQ')%>
  
   <!---footer-->
   <%-include('partials/footer')%>
  
</body>

</html>