<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property</title>
     <!-- tailwind CDN -->
     <script src="https://cdn.tailwindcss.com"></script>
     <!---CSS Link-->
     <link rel="stylesheet" href="/assets/css/home.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <!--font link-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300&family=Roboto:wght@700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300;600&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<style>
    .boxshadow{
        box-shadow: -15px 15px 0px 0px #80DED9;
    }
      
</style>
<body>
  <%-include('partials/header')%>
  
      <!--section 1-->
      <section class="mx-12 h-auto">
        <div>
           <div class="text-8xl font-extrabold pt-24"> <p class="sec8">Disputed Property</p>
           </div>
           <p class="text-5xl font-extrabold text-black mt-12 textInter">Anguish doesn’t solve property disputes
           </p>
        </div>
        <img src="../public/images/property_sec1_man.svg" alt="man banner" class="mt-12">
        <div class="h-12 w-32 p-2 text-center text-white rounded-md mt-12 bg-[#80DED9]">WHAT WE DO</div>
      </section>

   <!--Section 2-->
    <section class="mx-12 textInter">
      <p class="text-5xl font-extrabold text-black mt-12 textInter">Solution for dispute resolutions</p>
      <p class="text-xl mt-4 text-[#444444]">While a dispute may arise from more factors than those listed here, being aware of these common disputes is helpful :</p>
    </section>

 <!--Section 3-->
  <section class="mx-12 mt-12 textInter">
    <div class="flex">
      <div class="w-[20%] mx-4" >
        <div class="bg-[#80DED9] text-center text-xl py-2">Title Disputes </div>
        <p class="px-8 pt-8">Title disputes can arise when multiple parties claim ownership of the same property often caused by errors in the land records, boundaries, or fraudulent conveyances.</p>
      </div>
      <div class="w-[20%] mx-4" >
        <div class="bg-[#80DED9] text-center text-xl py-2">Encroachments </div>
        <p class="px-8 pt-8">Encroachments occur when a neighbouring property owner uses or builds on a portion of another person’s land which can cause property damage, disputes over boundaries, and legal liability.</p>
      </div>
      <div class="w-[20%] mx-4" >
        <div class="bg-[#80DED9] text-center text-xl py-2">Easements</div>
        <p class="px-8 pt-8">Easements are rights granted to a party to use a portion of another person’s land for a specific purpose. These often cause disputes over the scope of the easement, the right to access the easement, or the maintenance of the easement.</p>
      </div>
      <div class="w-[20%] mx-4" >
        <div class="bg-[#80DED9] text-center text-xl py-2">Zonning Violations</div>
        <p class="px-8 pt-8">Zoning violations occur when a property owner uses their property in a way that violates local zoning laws or regulations. This can result in fines, legal action, or the loss of the property’s value.
        </p>
      </div>
      <div class="w-[20%] mx-4" >
        <div class="bg-[#80DED9] text-center text-xl py-2">Environmental Issues </div>
        <p class="px-8 pt-8">Environmental issues can arise when a property is contaminated or has other environmental hazards that impact its value or use. Such cases often result in legal liability, clean-up costs, and difficulty selling the property.</p>
      </div>
      
    </div>
  </section>
 <!--Section 4-->
    <section class="mx-12 textInter">
      <div class="flex justify-center items-center mt-12 rounded-lg mx-auto">
        <p class="px-4 w-full py-2 text-white text-4xl bg-[#80DED9] text-center">OUR EXPERTIZE - RELEASING BLOCKED VALUE </p> 
     </div>
     <p class="text-2xl text-[#444444] mt-8">
      Property is a valuable asset, and it is no surprise that disputes arise over property. More often than not, the value of the property remains locked until the dispute is resolved. But resolution is not always easy as it calls for both, an understanding of property matters as well as knowledge of land laws. 
    <br> <br>
    With Land Optimizer , you have the service of an organization that has long years of experience with property as well as required legal acumen. </p> 

    <!--PART 2-->
    <div class="flex justify-center items-center mt-12 rounded-lg mx-auto">
      <p class="px-4 w-full py-2 text-white text-4xl bg-[#80DED9] text-center">THE RIGHT SOLUTION TO A PROPERTY DISPUTE </p> 
   </div>
   <p class="text-2xl text-[#444444] mt-8">
    Land Optimizer can help you find the right solution in any property dispute. Based on our experience we could suggest whether negotiation, arbitration or legal remedies are the best way to resolve the dispute. At each stage of the resolution process, we guide you, support you and advise you of gaining the most favourable resolution.
    <br> <br>
    The services offered by Land Optimizer span the complete spectrum to include resolution of disputes
    arising out of: </p>
    </section>
  
    <!--Section 5-->
    <section class="mx-12">
      <p class="text-5xl font-extrabold text-black mt-12 textInter">Benefit from our expertise & experience and find a convenient and quick resolution to your property</p>
      <div class="flex mt-8">
        <div class="w-[35%]"><img src="../public/images/properties_section6.svg" alt="" class="h-96 w-full"></div>
        <div class="w-[65%] ml-16">
          <p class="px-4 w-full py-2 text-white text-4xl bg-[#80DED9] text-center">ABOUT LAND OPTIMIZER</p>
          <p class="text-[#8A8A8A] text-lg pt-8">At Land Optimizer International, we revolutionize the real estate industry by utilizing technology and ideas. We are here to bring the real estate of the future through strategies built on medium and long-term perspective that mitigate risks, build resilience, identify opportunities and structural shifts to deal with future adversities that the real estate industry may face. Specializing in turning idle assets  into income-generating ones, we optimize your property through concepts that work as an alternate investment that generates a second income. We offer land pooling, profit sharing, and land acquisition. Expanding our services, we cater to land, theme and concept development with high productivity and awareness of quality.</p>
        </div>
      </div>
    </section>
    <!--Section 6-->
  <!--Section 5 Benefits-->
<%-include('partials/benefits')%>
     
<!--Section 6   Key Registration-->

<%-include('partials/keyregistration')%>
 
  <!--Section 6 annual-->

  <%-include('partials/annualcompliance')%>
  
 
  <!---Section 7 HOW IT WORKS-->

<%-include('partials/howitworks')%>
     <!--Section 8 document-->
     <%-include('partials/documentupload')%>

<!--Section 7 payy-->
<%-include('partials/paygrow')%>
  
<!--Section 10 FAQ-->
<%-include('partials/FAQ')%>

<!---footer-->
<%-include('partials/footer')%>



</body>

</html>
