<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trouble</title>
     <!-- tailwind CDN -->
     <script src="https://cdn.tailwindcss.com"></script>
     <!---CSS Link-->
     <link rel="stylesheet" href="/assets/css/home.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <!--font link-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300&family=Roboto:wght@700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&family=Poppins:wght@300;600&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<style>
    .boxshadow{
        box-shadow: -15px 15px 0px 0px #80DED9;
    }
     
</style>
<body>
  <%-include('partials/header')%>
  
      <!--section 1-->
      <section class=" h-auto">
        <div class=" mx-12">
           <div class="text-8xl font-extrabold pt-24"> <p class="sec8">Troubled Sites</p>
           </div>
           <p class="text-5xl text-black mt-12 textInter">What is Troubled Sites ?</p>
         
           <p class="text-xl text-[#444444] mt-4 ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
           </p> 
           <p class="text-xl text-[#444444] mt-4 ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
           </p>  
           
           <p class="text-5xl text-black mt-12 textInter">Summary </p>
         
           <p class="text-xl text-[#444444] mt-4 ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
           </p> 
           <p class="text-xl text-[#444444] mt-4 ">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           </p>   
        </div>
      </section>
  
<!--Section 5 Benefits-->
<%-include('partials/benefits')%>
     
<!--Section 6   Key Registration-->

<%-include('partials/keyregistration')%>
 
  <!--Section 6 annual-->

  <%-include('partials/annualcompliance')%>
  
 
  <!---Section 7 HOW IT WORKS-->

<%-include('partials/howitworks')%>
     <!--Section 8 document-->
     <%-include('partials/documentupload')%>

<!--Section 7 payy-->
<%-include('partials/paygrow')%>
  
<!--Section 10 FAQ-->
<%-include('partials/FAQ')%>

<!---footer-->
<%-include('partials/footer')%>

</body>

</html>